<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome E-mail</title>
</head>
<body>
<h1 style="color: #004AAD">Bem-vindo!</h1>
<p style="font-size: 1rem; font-weight:500; font-family: arial; line-height: 20px">
    Obrigado por se cadastrar!
    <br/>
    Espero que você aproveite sua experiência.
</p>
<img src="https://i.postimg.cc/3RP1S1QX/Arrowai.png" width="170px" alt="logo">
</body>
</html>
