<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recovery Password</title>
</head>
<body>
<h1 style="color: #004AAD">Código de Verificação</h1>
<p style="font-size: 1rem; font-weight:500; font-family: arial; line-height: 20px">
    Seu código é: <b><span
        th:text="${message}">Code</span></b>
</p>
<img src="https://i.postimg.cc/3RP1S1QX/Arrowai.png" width="170px" alt="logo">
</body>
</html>
